{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
<form action="{% url 'parser:analysis' %}"  method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="col-sm-10 blog-main">

      <div id="div-analysis" class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Análisis
        </div>
        <div class="panel-body">
          <div class="form-group">
              <textarea id="text" name="text" class="form-control" rows="3" placeholder="Escriba el texto aqui ..."></textarea>
          </div>
          <div class="form-group">
              <div id="alert"></div>
          </div>
          <div class="btn-group pull-right" role="group" aria-label="...">
            <button id="btn-limpiar-analysis" type="submit" class="btn btn-primary">Limpiar</button>
            <button id="btn-analizar" type="submit" class="btn btn-success">Analizar</button>
          </div>
        </div>
      </div>

      <div id="div-test" class="panel panel-warning">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Precisión y Recall
        </div>
        <div class="panel-body">
          <div class="form-group">
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon" id="sizing-addon1">Raw</span>
                  <input type="file" name="rawfile" class="form-control" >
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon" id="sizing-addon1">Gold</span>
                  <input type="file" name="goldfile" class="form-control">
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
          </div>
          <div class="form-group">
              <div id="alert"></div>
          </div>
          <div class="btn-group pull-right" role="group" aria-label="...">
            <button id="btn-limpiar-test" type="submit" class="btn btn-primary">Limpiar</button>
            <button id="btn-analizar" type="submit" class="btn btn-success">Iniciar</button>
          </div>
        </div>
      </div>

      <div id="result"></div>
    </div>
    <div class="col-sm-2 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <!-- <h4>Análisis Sintactico Probabilístico</h4> -->
        <div class="panel panel-primary">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <span class="glyphicon glyphicon-object-align-bottom" aria-hidden="true"></span> Modo
          </div>
          <div class="panel-body">
            <div class="radio">
              <label><input type="radio" id="mode-analysis" checked="checked" name="radio-modo" value="Bikel" >Análisis</label>
            </div>
            <div class="radio">
              <label><input type="radio" id="mode-test" name="radio-modo" value="Standfor" >Test</label>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-module sidebar-module-inset">
        <!-- <h4>Ejemplos</h4> -->
        <div class="panel panel-warning">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <span class="glyphicon glyphicon-text-size" aria-hidden="true"></span> New York Times
          </div>
          <div class="panel-body">
            <div class="radio">
              <label><input type="radio" id="example1" name="radio-example" value="example1" >Ejemplo 1</label>
            </div>
            <div class="radio">
              <label><input type="radio" id="example2" name="radio-example" value="example2" >Ejemplo 2</label>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-module sidebar-module-inset">
        <!-- <h4>Análisis Sintactico Probabilístico</h4> -->
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Modelo
          </div>
          <div class="panel-body">
            <div class="radio">
              <label><input type="radio" name="radio-modelo" value="Bikel" >Bikel</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="radio-modelo" value="Standfor" >Standfor</label>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.blog-sidebar -->
  </form>
</div>
{% endblock %}
{% block js %}
{{ block.super }}

<!-- Including jQuery Form plugin -->
<script src="{% static 'jquery/jquery.form.min.js' %}"></script>
<script type="text/javascript">
  /* Mode selection */
  $("#div-analysis").show();
  $("#div-test").hide();

  $("#mode-analysis").click(function(event){
    $("#div-analysis").show();
    $("#div-test").hide();
  });

  $("#mode-test").click(function(event){
    $("#div-analysis").hide();
    $("#div-test").show();
  });

  /* Clear fields */
  $("#btn-limpiar-analysis").click(function(event){
    event.preventDefault();
    $("#text").val("");
    $("#result").html("");
    $("#alert").html("");
  });

  $("#btn-limpiar-test").click(function(event){
    event.preventDefault();
    $("#rawfile").val("");
    $("#goldfile").val("");
    $("#result").html("");
    $("#alert").html("");
  });

  /* Examples from new youk times */
  $("#example1").click(function(event){
    event.preventDefault();
    $("#text").val("President Obama said he refrained from aggressive public retaliation against Moscow for hacking the D.N.C. before the election because he did not want it to be seen as unfair meddling.");
  });
  $("#example2").click(function(event){
    event.preventDefault();
    $("#text").val('City officials had decided to allow the state to take the white-tailed buck upstate. But before it could be relocated, it died from stress while in an animal shelter.');
  });

  /* submit del formulario */
  $("#btn-analizar").click(function(event){
      event.preventDefault();
      var $form = $("form");
      $form.ajaxSubmit({
          url: $form.attr('action'),
          dataType: 'json',
          success: function(response, status, xhr, $form) {
              if(response.status==true){
                $("#result").html(response.html);
                $("#alert").empty();
              }else{
                    var html = '<div class="alert alert-warning" role="alert"> \
                    <strong>Oh!</strong> Debe diligenciar bien el campo de texto.\
                    </div>';
                  $("#alert").html(html);
              };
          },
          error: error
      });
  });

/* Aviso de error  */
var error = function (data) {
    var html = '<div class="alert alert-danger" role="alert"> \
                <strong>Oh!</strong> Ha ocurrido un error en el servidor.\
                </div>';
    $("#alert").html(html);
}
</script>
{% endblock %}
